<!DOCTYPE html>
<html>
<body>
    <form method="POST">
        <input name="message" required>
        <input type="submit" value="Send">
    </form>
    <form method="POST" action="/clear">
        <input type="submit" value="Clear Chat">
    </form>
    <div>
        {% for message in messages %}
            <p>{{ message | safe }} </p>
        {% endfor %}
    </div>
    {%if mod %}
        <form method="POST" action="/report">
            <input type="hidden" name="chatid" value="{{chatid}}">
            <input type="submit" value="Send for review">
        </form>
    {% endif %}
</body>
</html>
